# MacOS
.DS_Store

# Virtual environments
.venv/

# Python
__pycache__/
*.py[oc]
*.egg-info/
build/
dist/
wheels/

# WandB local run directory
src/wandb/

# Client .pt files
src/data/clients/femnist/*.pt

# LEAF repository contents: https://github.com/TalwalkarLab/leaf
src/data/leaf/