# MacOS
.DS_Store

# Virtual environments
.venv/

# Python
__pycache__/
*.py[oc]
*.egg-info/
build/
dist/
wheels/

# WandB local run directory
wandb/

# Client files
src/data/clients/

# Checkpoint files
src/checkpoints/

# LEAF repository contents: https://github.com/TalwalkarLab/leaf
src/data/leaf/

# Etcetera
slurm/
paper/
tea_debug.log
notes.md
new_model_template.md
hpc_setup.md
experiments.md