# MacOS
.DS_Store

# Virtual environments
.venv/

# Python
__pycache__/
*.py[oc]
*.egg-info/
build/
dist/
wheels/

# WandB local run directory
wandb/

# WandB exported logs
src/logs/
src/plots/

# Client files
src/data/clients/

# Checkpoint files
src/checkpoints/

# LEAF repository contents: https://github.com/TalwalkarLab/leaf
src/data/leaf/

# plotting scripts
src/scripts/plot_*.py

# Etcetera
slurm/
paper/
presentation/
src/scripts/rdp_to_dp.py
tea_debug.log
*.md